<%= form_with(model: play_back, local: true) do |form| %>
  <% if play_back.errors.any? %>
    <div id='error_explanation'>
      <!--<h2><%= pluralize(play_back.errors.count, 'error') %> prohibited this play_back from being saved:</h2>-->

      <ul>
        <% play_back.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='field'>
    <%= form.label :title, t(:title).capitalize %>
    <%= form.text_field :title %>
  </div>

  <div class='field'>
    <%= form.file_field :video%>
  </div>

  <div class='actions'>
    <%= form.submit t(:save).capitalize %>
  </div>
<% end %>
