<p id="notice"><%= notice %></p>

<h1>Play Backs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Url</th>
      <th>Views</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @play_backs.each do |play_back| %>
      <tr>
        <td><%= play_back.title %></td>
        <td><%= play_back.url %></td>
        <td><%= play_back.views %></td>
        <td><%= link_to 'Show', play_back %></td>
        <td><%= link_to 'Edit', edit_play_back_path(play_back) %></td>
        <td><%= link_to 'Destroy', play_back, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Play Back', new_play_back_path %>
