<p id='notice'><%= notice %></p>

<p>
  <strong><%= t(:title).capitalize %>:</strong>
  <%= @play_back.title %>
</p>

<p>
  <%= video_tag(@play_back.video_url.to_s ,controls: true, autoplay: :autoplay) %>
</p>

<p>
  <strong><%= t(:url).capitalize %>:</strong>
  <%= @play_back.url %>
</p>

<p>
  <strong><%= t(:views).capitalize %>:</strong>
  <%= @play_back.views %>
</p>

<%= link_to t(:edit).capitalize , edit_play_back_path(@play_back) %> |
<%= link_to t(:back).capitalize , play_backs_path %>
