<!-- VideoJs-->
<link href="https://vjs.zencdn.net/7.8.4/video-js.css" rel="stylesheet" />
<!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
<script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>

<!--<p id='notice'><%= notice %></p>-->

<p>
  <strong><%= t(:title).capitalize %>:</strong>
  <%= @play_back.title %>
</p>

<p>
  <!--counter proprieties, based on: https://github.com/filhodoto/videojs-counter-plugin-->
  <span id="video_id" style="display: none;"><%= @play_back.id %></span>
  <span id="counter_path" style="display: none;"><%= count_path %></span>

  <video
    id="my-video"
    class="video-js"
    width="720"
    data-setup='{ "controls": true, "autoplay": true, "preload": "auto" }'
  >
    <source src="<%= @play_back.url %>" type="application/x-mpegURL" />

  </video>

  <script src="https://vjs.zencdn.net/7.8.4/video.js"></script>
  <%= javascript_pack_tag "videojs_custom" , 'data-turbolinks-track': 'reload' %>
  
</p>

<p>
  <strong><%= t(:url).capitalize %>:</strong>
  <%= @play_back.url %>
</p>

<p>
  
  <% if @play_back.views > 0%>
    <strong><%= t(:views).capitalize %>: </strong>
    <%= @play_back.views %> - (<%= Time.now.strftime("%d/%m/%Y %H:%M")%>)
  <% else%>
    <%= t(:posted_at).capitalize %> - (<%= Time.now.strftime("%d/%m/%Y %H:%M")%>)
  <% end %>
  
</p>

<% if signed_in? %>
  <% unless @play_back.user.id != current_user.id %>
    <%= link_to t(:edit).capitalize , edit_play_back_path(@play_back) %> |
  <% end %>
  <%= link_to t(:back).capitalize , play_backs_path %>
<% else %>
  <%= link_to t(:home).capitalize , root_path %>
<% end %>

